[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-csp"]
	path = vendor-local/src/django-csp
	url = git://github.com/mozilla/django-csp.git
