{% extends 'base.html' %}

{% block page_title %}403 (Forbidden action){% endblock %}
{% block page_id %}error_403{% endblock %}
{% block section_class %}errors{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Error (403 Forbidden)</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                <h2 class="exclaim">Looks like you've done something that you shouldn't have done</h2>
                {% if case == 'no_edit_rights' %}
                    <p>You tried to edit a game that you don't have the rights to edit.</p>
                    <ul class="whimper">
                        <li>You can only edit games that you have submitted to the Gameon challenge yourself.</li>
                        <li>Make sure that you're logged in - as we'll only know you're you once you have done.</li>
                        <li>If you believe that this is your game, or if would like to tell us something about this particular game then please <a href="mailto:gameon@mozilla.org">send us an email</a>.</li>
                    </ul>
                {% endif %}
                {% if case == 'challenge_closed' %}
                    {% if request.challenge.has_closed() %}
                        <p>The Game On challenge closed on {{ request.challenge.end_date.strftime('%B %e, %Y') }}. To know when we're planning on running the next one check out the <a href="https://blog.mozilla.org/gameon/">Game On blog</a></p>
                    {% else %}
                        <p>The Game On challenge hasn't opened yet, you can continue working on your game now but you won't be able to submit it until {{ request.challenge.start_date.strftime('%B %e, %Y') }}.</p>
                    {% endif %}
                {% endif %}
            </div>
            <aside class="meta mini-col">
                <h2 class="whimper">Here are some things you can do</h2>
                <ul class="no-style">
                    <li>Read the latest news in the <a href="https://blog.mozilla.org/gameon/">Game On blog</a>.</li>
                    <li>Ensure that you know the <a href="{{ url('static_site.rules') }}">challenge rules</a>,</li>
                    <li>See what amazing <a href="{{ url('static_site.judges') }}">judges we have</a>.</li>
                </ul>
            </aside>
        </div>
    </div>
</article>
{% endblock %}