{% extends 'base.html' %}

{% block page_title %}500 (Server error){% endblock %}
{% block page_id %}error_500{% endblock %}
{% block section_class %}errors{% endblock %}

{% block user_nav %}{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Oh dear - looks something has gone rather wrong</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <p>Hopefully this might just be a temporary blip but if you try again and the same thing happens it's probably worth giving us a bit of time to fix things. We will be been notified of the error so hopefully have all the information we need to looking into what has caused it.</p>
            <p><strong>We're really sorry for the inconvenience, hopefully we can have this fixed up ASAP.</strong> If you notice that the same thing is broken for a couple of days check out the <a href="https://blog.mozilla.org/gameon/">Game On blog for updates</a> and feel free to drop us an email at <a href="mailto:gameon@mozilla.org">gameon@mozilla.org</a> explaining the problem.</p>
        </div>
    </div>
</article>
{% endblock %}

{% block browser_id_code %}{% endblock %}