<!DOCTYPE html{% block schema_org %}{% endblock %}>
<!--[if (lt IE 9)]><html class="no-js bad-ie" lang="{{ LANG }}" dir="{{ DIR }}"><![endif]-->
<!--[if (gt IE 8)|!(IE)]><!--><html class="no-js" lang="{{ LANG }}" dir="{{ DIR }}"><!--<![endif]-->
<head>
    <title>{% if APP_STAGE %}[{{ APP_STAGE }}] | {% endif %}{% block page_title %}{% endblock %} | Mozilla Gameon</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <link rel="stylesheet" href="//www.mozilla.org/tabzilla/media/css/tabzilla.css">
    <link rel="stylesheet" href="{{ static('base/css/libs/normalize.css') }}">
    <link rel="stylesheet" href="{{ static('base/css/master.css') }}">
    {% if APP_MSG %}
        <link rel="stylesheet" href="{{ static('base/css/libs/warnr.css') }}">
    {% endif %}
    <!--[if lt IE 9]>
        <script type="text/javascript" src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% block page_css %}{% endblock %}
    <link rel="icon" href="{{ static('base/img/favicon.ico') }}" />
    {% block social_meta %}{% endblock %}
    {% if not APP_MSG %}
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35433268-16']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    {% endif %}
</head>
<body id="{% block page_id %}{% endblock %}" class="{% block section_class %}{% endblock %}">
    <script type="text/javascript">
        document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/, '');
    </script>
    {% if APP_MSG %}
    <div id="app_stage_box" class="whimper">
        <div class="busta">{{ APP_MSG|safe }}</div>
    </div>
    {% endif %}
    <div class="site-nav">
        <header class="busta">
            <a href="http://www.mozilla.org/" id="tabzilla">Mozilla</a>
            <nav>
                {% block header_logo %}
                    <div class="logo"><a href="{{ url('static_site.home') }}"><img src="{{ static('base/img/logo.png') }}" alt="Game on" width="262" height="72" /></a></div>
                {% endblock %}
                {% include('_nav.html') %}
            </nav>
        </header>
    </div>
    <section class="personal cf">
        <div class="busta">
        {% block user_nav %}
        {% if not request.user.is_active %}
            <p><a id="browserid" href="#">Sign In</a></p>
            <form method="POST" action="{{ url('browserid_verify') }}">
                {{ csrf() }}
                {{ browserid_form.as_p() }}
            </form>
        {% else %}
            <p><strong>Welcome</strong> - {{ request.user.get_profile().display_name }}</p>
            <ul>
                <li><a href="{{ url('users_profile', request.user.username) }}">View Profile</a></li>
                <li><a href="{{ url('users_edit') }}">Edit Profile</a></li>
                <li><a href="{{ url('users_signout') }}">Log out</a></li>
            </ul>
        {% endif %}
        {% endblock %}
        </div>
    </section>
    <div role="main">
        {% block content %}
        {% endblock %}
    </div>
    {% block footer %}
    <footer class="site-footer">
        <nav class="busta cf">
            <div class="logo"><a href="{{ url('static_site.home') }}"><img src="{{ static('base/img/footer-logo.png') }}" alt="Game on" width="200" height="40" /></a></div>
            {% include('_nav.html') %}
        </nav>
    </footer>
    {% endblock %}
    {% compress js %}
        <script src="{{ static('base/js/libs/jquery-1.8.2.min.js') }}"></script>
        <script src="{{ static('base/js/site.js') }}"></script>
    {% endcompress %}
    {% block page_js %}{% endblock %}
    <script src="//www.mozilla.org/tabzilla/media/js/tabzilla.js"></script>
    {% block browser_id_code %}
    {% if not request.user.is_active %}
        {{ browserid_form.media }}
    {% endif %}
    {% endblock %}
</body>
</html>
