fieldset {
    border: none;
    padding: 0;
    margin: 0;
}
legend {
    position: relative;
    margin-top: -2em;
}
legend span {
    position: relative;
    left: -9999em;
    height: 1px;
    overflow: hidden;
    margin-top: -1em;
}
label {
    display: inline-block;
    margin: 0 10px 0.3em 0;
    cursor: pointer;
}
label em {
    color: #DA1C21;
    font-style: normal;
}
input[type=text],
textarea {
    width: 100%;
    border-radius: 8px;
    padding: 0.2em 4px;
}
textarea {
    height: 100px;
}
.form_wrapper {
    border: 1px solid #ccc;
    background: #f0f0f0;
    margin-bottom: 1em;
    border-radius: 8px;
}
.form_wrapper ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
}
.field {
    padding: 2em 40px;
    border-top: 1px solid #ccc;
}
.first-field {
    border-top: none;
}
.field li span {
    display: block;
    margin-bottom: 0.5em;
}
.trigger {
    font-weight: bold;
    background: none;
    color: #37D09E;
    border: 1px solid #ccc;
    border-width: 1px 0 0;
    display: block;
    padding: 1em 40px;
    width: 100%;
    text-align: left;
}
.trigger:after {
    content: '';
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #37D09E;
    margin-left: 10px;
}
.trigger.open:after {
    border-top: none;
    border-bottom: 10px solid #37D09E;
}
#avatar .frame {
    float: left;
    width: 120px;
    height: auto;
    margin: 0 20px 0 0;
}
form .opt {
    color: #37D09E;
}
form .extra {
    font-weight: normal;
    display: block;
    margin-bottom: 0.5em;
}
form .char-count {
    text-align: right;
    margin-top: 0.5em;
}
form .warning-style {
    font-weight: bold;
    color: #DA1C21;
}
fieldset.js_enabled .field {
    display: none;
}
.category_select p {
    margin-top: 0;
}
.category_select ul {
    margin-bottom: 0;
}
.submit_row {
    background: #000;
    text-align: left;
    color: #fff;
    font-weight: bold;
    border-color: #000;
}
.submit_row.marketplace {
    padding-left: 170px;
    background: #000 url('/static/base/img/css/marketplace.png') no-repeat 20px 1em;
}
.submit_row input {
    text-transform: uppercase;
    margin-left: 20px;
}