@-webkit-keyframes float {
    from { background-position: 0 95%; }
    50% { background-position: 0 105%; }
    to { background-position: 0 95%; }
}
@-webkit-keyframes shadow {
    from { -webkit-transform: scale(0.85,0.85) }
    50% { -webkit-transform: none; }
    to { -webkit-transform: scale(0.85,0.85) }
}
@-moz-keyframes float {
    from { background-position: 0 95%; }
    50% { background-position: 0 105%; }
    to { background-position: 0 95%; }
}
@-moz-keyframes shadow {
    from { -moz-transform: scale(0.85,0.85) }
    50% { -moz-transform: none; }
    to { -moz-transform: scale(0.85,0.85) }
}
@keyframes float {
    from { background-position: 0 95%; }
    50% { background-position: 0 105%; }
    to { background-position: 0 95%; }
}
@keyframes shadow {
    from { transform: scale(0.85,0.85) }
    50% { transform: none; }
    to { transform: scale(0.85,0.85) }
}

.big-picture {
    background: #000a14; /* Old browsers */
    background: -moz-linear-gradient(left,  #000a14 0%, #00283a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000a14), color-stop(100%,#00283a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #000a14 0%,#00283a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #000a14 0%,#00283a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #000a14 0%,#00283a 100%); /* IE10+ */
    background: linear-gradient(to right,  #000a14 0%,#00283a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a14', endColorstr='#00283a',GradientType=1 ); /* IE6-9 */
    color: #fff;
}
div[role=main] .big-picture .busta {
    padding: 2em 30px 2em 360px;
    background: url('/static/base/img/home/big-picture.png') 0 100% no-repeat;
    position: relative;
    -webkit-animation: float 3s infinite;
    -moz-animation: float 3s infinite;
    animation: float 3s infinite;
}
.big-picture .busta > i {
    content: "";
    width: 305px;
    height: 115px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('/static/base/img/home/big-picture-shadow.png') 50% 100% no-repeat;
    background-size: cover;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-animation: shadow 3s infinite;
    -moz-animation: shadow 3s infinite;
    animation: shadow 3s infinite;
}
.big-picture .shout {
    margin: 0.6em 0;
}
.build {
    padding: 1em;
}
.build ul {
    overflow: hidden;
    padding-left: 0;
    margin-left: -2%;
    list-style-type: none;
}
.build li {
    float: left;
    width: 23%;
    margin-left: 2%;
    padding-top: 150px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.build li:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: #ebebeb 50% 50% no-repeat;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px inset rgba(255,255,255,0.5);
    display: block;
}
.build li.make:before {
    background-image: url('/static/base/img/home/panel-make.png');
}
.build li.invent:before {
    background-image: url('/static/base/img/home/panel-invent.png');
}
.build li.win:before {
    background-image: url('/static/base/img/home/panel-win.png');
}
.build li.market:before {
    background-image: url('/static/base/img/home/panel-market.png');
}
.participate {
    background: #37d09e;
    font-size: 13px;
    position: relative;
}
.participate::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.33)), to(rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.33), rgba(0,0,0,0));
    background: -moz-linear-gradient(top, rgba(0,0,0,0.33), rgba(0,0,0,0));
    background: linear-gradient(top, rgba(0,0,0,0.33), rgba(0,0,0,0));
}
.participate .busta {
    padding: 100px 5em 0;
    background: url('/static/base/img/home/participate.png') 100% 0 no-repeat;
}
.participate .exclaim {
    color: #37d09e;
}
.participate article {
    background: rgba(00, 40, 58, 0.8);
    color: #fff;
    width: 46%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em 40px;
    float: left;
    margin: 0 2% 3em;
    border-radius: 16px;
}
.participate article footer {
    padding: 40px;
    margin: 2em -40px -1em -40px;
    border-radius: 0 0 16px 16px;
    background: #00283a;
}
.participate .submit_now footer {
    padding-left: 100px;
    background: #00283a url('/static/base/img/css/clock.png') no-repeat 30px 30px;
}
/* so that the bottom section merges with the footer */
#home div[role=main] {
    padding-bottom: 0;
}
#home .site-footer {
    margin-top: 0;
}

@media all and (max-width: 800px) {
    div[role=main] .big-picture .busta {
        background-image: none;
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
        padding: 2em 30px;
    }
    .big-picture .busta > i {
        display: none;
        -webkit-animation: none;
        -moz-animation: none;
        animation: none;
    }
    .participate .busta {
        padding: 2em 0 0;
        background: none;
    }
}

@media all and (max-width: 640px) {
    .build {
        padding-left: 1em;
        padding-right: 1em;
    }
    .build ul {
        width: auto;
        margin: 0 auto;
        position: relative;
        left: -10px;
    }
    .build li {
        margin-bottom: 20px;
        width: auto;
        float: none;
        padding: 5px 5px 5px 110px;
        min-height: 100px;
    }
    .build li:before {
        height: 100px;
        width: 100px;
    }
    .participate .busta {
        padding: 1.5em 1.5em 0;
    }
    .participate article {
        float: none;
        width: auto;
        margin: 0 0 1.5em;
    }
}