.big-picture {
    background: #000a14; /* Old browsers */
    background: -moz-linear-gradient(left,  #000a14 0%, #00283a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000a14), color-stop(100%,#00283a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #000a14 0%,#00283a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #000a14 0%,#00283a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #000a14 0%,#00283a 100%); /* IE10+ */
    background: linear-gradient(to right,  #000a14 0%,#00283a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a14', endColorstr='#00283a',GradientType=1 ); /* IE6-9 */
    color: #fff;
}
.big-picture .busta {
    padding: 2em 30px 2em 360px;
    background: transparent url('/static/base/img/css/home-ship.png') no-repeat left bottom;
}
.big-picture .shout {
    margin: 0.6em 0;
}
.build ul {
    overflow: hidden;
    padding-left: 0;
    list-style-type: none;
}
.build li {
    float: left;
    width: 23%;
    margin-left: 2%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
}
.build li:first-child {
    margin-left: 0;
}
.build li img {
    width: 100%;
    height: auto;
    margin-bottom: 0.5em;
}
.participate {
    background: #37d09e url('/static/base/img/css/home-gun.png') no-repeat 90% 0;
    font-size: 13px;
}
.participate .busta {
    padding: 4em 0;
}
.participate .exclaim {
    color: #37d09e;
}
.participate article {
    background: rgba(00, 40, 58, 0.8);
    color: #fff;
    width: 45%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1em 40px;
    float: left;
    margin: 0 1%;
    border-radius: 16px;
}
.participate article footer {
    padding: 40px;
    margin: 2em -40px -1em -40px;
    border-radius: 0 0 16px 16px;
    background: #00283a;
}
.participate .submit_now footer {
    padding-left: 100px;
    background: #00283a url('/static/base/img/css/clock.png') no-repeat 30px 30px;
}
/* so that the bottom section merges with the footer */
#home .site-footer {
    margin-top: 0;
}