body {
    font-family: "Open Sans";
    font-size: 18px;
    line-height: 1.25em;
    color: #00283a;
    background: #37D09E;
    background: -moz-linear-gradient(left,  #379e9e 0%, #37d09e 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#379e9e), color-stop(100%,#37d09e)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #379e9e 0%,#37d09e 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #379e9e 0%,#37d09e 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #379e9e 0%,#37d09e 100%); /* IE10+ */
    background: linear-gradient(to right,  #379e9e 0%,#37d09e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379e9e', endColorstr='#37d09e',GradientType=1 ); /* IE6-9 */
}
#app_stage_box {
    background: #FFFF00;
    padding: 0.5em 0;
    color: 827600;
}
#app_stage_box a {
    font-weight: bold;
    text-decoration: underline;
}
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
    color: #37D09E;
}
.cta {
    color: #fff !important;
    text-transform: uppercase;
    background: #37d09e;
    display: inline-block;
    padding: 0.5em 30px;
    border-radius: 4px;
}
.cf:before,
.cf:after {
    content: " "; 
    display: table;
}

.cf:after {
    clear: both;
}
.shout-box {
    padding: 1em 20px;
    border: 1px inset rgba(255,255,255,0.5);
    background: #ebebeb;
    text-align: center;
    margin-bottom: 1em;
    border-radius: 8px;
}
.shout-box p {
    margin: 0;
}
.busta {
    max-width: 940px;
    margin: 0 auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
div[role=main] .busta {
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}
.main-col {
    float: left;
    width: 70%;
    margin-right: 5%;
}
.mini-col {
    float: left;
    width: 25%;
    overflow: hidden;
}
/* Removing this for now, until we get assets in place

    padding-top: 150px;
}
.mini-col:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 220px;
    height: 140px;
    background: #ebebeb;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #666;
    display: block;
}

*/
.shout {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1.2;
}
.yell {
    font-size: 24px;
    font-weight: bold;
}
.exclaim {
    font-size: 21px;
    font-weight: bold;
}
.announce {
    font-size: 18px;
    font-weight: bold;
}
.whimper {
    font-size: 14px;
    font-weight: bold;
}
p.whimper {
    font-weight: normal;
}
.meta {
    font-size: 13px;
}
ul.alpha-style,
ol.alpha-style {
    list-style-type: lower-alpha;
}
ul.roman-style,
ol.roman-style {
    list-style-type: lower-roman;
}
ul.no-style,
ol.no-style {
    list-style-type: none;
    padding-left: 0;
}
.frame {
    float: left;
    padding: 4px;
    margin-bottom: 1em;
    background: #fff;
    border:1px solid #dcdcdc;
    
    overflow: hidden;
    position: relative;
    box-shadow: 0 3px 3px #bdbdbd;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}
.frame iframe {
    width: 100%;
}
/* if we've got a list we'll restrain the height */
li .frame {
    max-height: 102px;
}
.frame:before {
    content: ".";
    height: 4px;
    background: #fff;
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 20;
    text-indent: -9999em;
}
.frame img {
    position: relative;
    z-index: 10;
    width: 100%;
}
.mast-head {
    background: #00283a;
    color: #fff;
    margin-bottom: 1em;
}
.mast-head h1 {
    padding: 0.75em 0;
}
.sub-head {
    background: #00283a;
    color: #37D09E;
    padding: 1em 20px;
    border-radius: 8px;
}
.vcard {
    padding-left: 150px;
    position: relative;
}
.vcard .fn {
    color: #37D09E;
    display: inline-block;
}
.vcard .photo {
    border-radius: 50%;
    border: 4px solid #e4e4e4;
    background: #e4e4e4;
    position: absolute;
    top: 0;
    left: 0;
}
div[role="main"] {
    background: #fff;
    overflow: hidden;
    box-shadow: 0 3px 3px #000;
    padding-bottom: 4em;
}
.site-nav {
    overflow: hidden;
    border-top: 2px solid #fff;
}
.site-nav a:link,
.site-nav a:visited,
.site-nav a:focus,
.site-nav a:hover,
.site-nav a:active {
    color: #00283a;
}
#rules_page .rules-page,
#prize_list .prizes-page,
#resource_list .resources-page,
#judges_list .judges-page {
    color: #fff !important;
}
.logo {
    float: left;
}
.logo img {
    float: left
}
nav ul {
    margin: 0;
    float: left;
    font-size: 14px;
    line-height: 1.4em;
}
nav li {
    float: left;
    display: block;
}
nav li a {
    display: block;
    padding: 1.9em 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.personal {
    display: block;
    clear: both;
    font-size: 14px;
    background: #00283A;
    color: #fff;
    border: 1px solid #FFFFFF;
    border-width: 1px 0;
}
.personal p {
    float: left;
}
.personal ul {
    float: left;
    list-style-type: none;
    padding-left: 0;
    text-transform: lowercase;
}
.personal li {
    float: left;
    padding-left: 20px;
}
.checks {
    list-style-type: none;
    padding-left: 0;
}
.checks li {
    background: url('/static/base/img/css/check.png') no-repeat left top;
    padding: 0 0 0.5em 34px;
    margin-bottom: 0.2em;
}
.big-winner {
    color: #37D09E;
}
.big-winner span {
    color: #00283a;
}
.prize {
    padding-left: 80px;
    background: url('/static/base/img/css/prize.png') no-repeat left top;
}
.entries {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}
.entries li {
    width: 33%;
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    margin-bottom: 1em;
}
.entries li:nth-child(3n+1) {
    clear: left;
}
.entries img {
    width: 100%;
    height: auto;
    display: block;
}
.entries .cta {
    margin-top: 0.5em;
}
.filter ul {
    padding-left: 0;
}
.filter li {
    width: 100%;
    border-bottom: 1px solid #f0f0f0;
}
.filter span {
    text-transform: uppercase;
    font-weight: bold;
}
.filter a,
.filter span {
    padding: 0.6em 10px;
    float: left;
}
.pagination {
    border-top: 1px solid #ccc;
}
.pagination ol {
    padding-left: 0;
    float: left;
    margin: 0;
}
.pagination a {
    padding: 10px 0.5em;
}
.pagination span {
    padding: 10px 0.5em;
    color: #fff;
    background: #37D09E;
    display: block;
}
.pagination .btn {
    float: left;
}
.pagination .prev:before {
    content: '';
    display: inline-block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid #37D09E;
    margin-right: 10px;
}
.pagination .next:after {
    content: '';
    display: inline-block;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #37D09E;
    margin-left: 10px;
}
.site-footer {
    background: #000a14; /* Old browsers */
    background: -moz-linear-gradient(left,  #000a14 0%, #00283a 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#000a14), color-stop(100%,#00283a)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #000a14 0%,#00283a 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #000a14 0%,#00283a 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #000a14 0%,#00283a 100%); /* IE10+ */
    background: linear-gradient(to right,  #000a14 0%,#00283a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000a14', endColorstr='#00283a',GradientType=1 ); /* IE6-9 */
    margin-top: 4em;
}
.site-footer .logo {
    padding: 3em 0 3em 200px;
    position: relative;
}
.site-footer ul {
    margin-top: 2.5em;
}
.site-footer .logo:after {
    content: url('/static/base/img/css/footer-trophy.png');
    height: 172px;
    width: 178px;
    left: 0;
    bottom: 0;
    position: absolute;
}

@media all and (max-width: 940px) {
    .site-nav .logo {
        float: none;
        background: #5CC2A6;
        border-bottom: solid 1px #FFF;
    }
    .site-nav .logo img {
        display: block;
        float: none;
    }
    nav ul {
        float: none;
        padding: 0 12px;
    }
    .personal {
        padding: 0 32px;
    }
}

@media all and (max-width: 640px) {
    .site-footer {
        position: relative;
        padding-left: 185px;
    }
    .site-footer .logo {
        float: none;
        position: static;
        padding: 0;
    }
    .site-footer a {
        display: block;
        padding: 1em 0 0;
    }
    .site-footer .logo img {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .site-footer ul {
        margin-top: 0;
        padding: 10px 0 20px;
    }
    nav ul {
        padding: 10px 20px;
        overflow: hidden;
        text-align: center;
    }
    nav li {
        float: left;
        width: 50%;
    }
    nav li a {
        padding: 10px;
    }
    .shout {
        font-size: 36px;
    }
    .main-col {
        float: none;
        width: auto;
        margin-right: 0;
    }
    .mini-col {
        float: none;
        width: auto;
        margin: 3em -10px 0;
        padding: 10px 30px;
        border-top: solid 1px #CCC;
        background: repeat-x;
        -webkit-background-size: 15px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#DDD), to(#FFF));
        background-image: -webkit-linear-gradient(top, #DDD, #FFF 15px);
        background-image: -moz-linear-gradient(top, #DDD, #FFF 15px);
        background-image: linear-gradient(top, #DDD, #FFF 15px);
    }
}

@media all and (max-width: 412px) {
    .site-nav .logo a {
        display: block;
    }
    .site-nav .logo img {
        margin: 0 auto;
    }
    .site-footer {
        padding: 0 0 185px;
    }
    .site-footer .logo:after {
        left: 50%;
        margin-left: -89px;
    }
}