{% extends 'base.html' %}

{% block page_title %}Profile{% endblock %}
{% block page_id %}user_profile{% endblock %}
{% block section_class %}profile{% endblock %}

{% block content %}
<section>
    <header class="mast-head">
        <h1 class="busta shout">{{ profile.display_name }}</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <aside class="meta mini-col">
                <span class="frame"><img src="{{ profile.get_gravatar_url() }}" alt="" /></span>
                {% if profile.website %}
                    <p><a href="{{ profile.website }}">{{ profile.website }}</a></p>
                {% endif %}
                {% if profile.bio %}
                        <p>{{ profile.bio }}</p>
                {% endif %}
            </aside>
            <div class="main-col">
            {% if entries %}
            <ol class="entries cf">
                {% for sub in entries %}
                <li>
                    <a href="{{ url('submissions.entry_single', slug=sub.slug) }}">
                        <span class="frame"><img src="{{ sub.get_image_src() }}" width="180" height="102" alt="" /></span>
                        {{ sub.title }}
                    </a>
                    {% if sub.editable_by(user=request.user) %}
                        <a class="cta whimper" href="{{ url('submissions.entry_edit', slug=sub.slug) }}">Edit your game</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock %}