{% extends 'base.html' %}

{% block page_title %}Profile{% endblock %}
{% block page_id %}user_profile{% endblock %}
{% block section_class %}profile{% endblock %}

{% block content %}
<section>
    <header class="mast-head">
        <h1 class="busta shout">{{ profile.display_name }}</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <aside class="meta mini-col">
                <span class="frame"><img src="{{ profile.get_gravatar_url() }}" alt="" /></span>
                {% if profile.website %}
                    <p><a href="{{ profile.website }}">{{ profile.website }}</a></p>
                {% endif %}
                {% if profile.bio %}
                        <p>{{ profile.bio }}</p>
                {% endif %}
            </aside>
            <div class="main-col">
            {% if messages %}
                <div class="shout-box">
                    {% for m in messages %}
                        {{ m|safe }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if entries %}
            <ol class="entries cf">
                {% for sub in entries %}
                <li>
                    <a href="{{ url('submissions.entry_single', slug=sub.slug) }}">
                        <span class="frame"><img src="{{ sub.get_image_src() }}" width="180" height="102" alt="" /></span>
                        {{ sub.title }}
                    </a>
                    {% if sub.editable_by(user=request.user) and request.challenge.is_open() %}
                        <a class="cta whimper" href="{{ url('submissions.entry_edit', slug=sub.slug) }}">Edit your game</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
            {% if request.challenge.has_started() %}
                {% if not request.challenge.has_closed() %}
                    <h2 class="exclaim">Submit another game</h2>
                    {% include '_signup_login.html' %}
                {% endif %}
            {% endif %}
            {% else %}
                <h2 class="announce">No entries yet</h2>
                {% if request.challenge %}
                    {% if request.challenge.is_open() %}
                        <p>Feels like now is a great time to <a class="cta" href="{{ url('submissions.create_entry') }}">submit a game</a></p>
                    {% else %}
                        <p>While you wait for submissions to open ({{ request.challenge.start_date.strftime('%B %e, %Y') }}) have a look through the site, you've got some time to plan your game!</p>
                    {% endif %}
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}