{% extends 'base.html' %}

{% block page_title %}FAQ{% endblock %}
{% block page_id %}faq_page{% endblock %}
{% block section_class %}faq{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Game On <abbr title="Frequently Asked Questions">FAQs</abbr></h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                <h2 class="announce" id="why-mozilla">Why is Mozilla doing this?</h2>
                <p>This  is about highlighting the power and possibilities that open technologies provide developers and designers to create rich gaming experiences on the Web.   Games are  traditionally at the  forefront of tech, continually pushing the envelope  of what's possible.  Mozilla is inviting you to re-imagine the Web as the console; and use the power of the browser to revolutionize the way we make and play games.</p>   
                <h2 class="announce" id="why-now">Why now?</h2>
                <p>Until  recently, game development for the Web has been somewhat limited by  technology constraints. Moreover, gaming on the web was something that was stuck in your desktop browser.</p>
                <p>We believe that we're now at a point where platform capabilities and tools available for game development on the Web are moving rapidly; gaming on the browser can now be 3D, mobile and multiplayer.</p>
                <p>All that means the time is right for pushing the platform.  To invent new game mechanics, create new story lines, engage diverse audiences and introduce aesthetically challenging content.</p> 
                <h2 class="announce" id="why-submit">Why submit a game?</h2>
                <p>With Game On we're hoping to not only explore what gaming looks like on the web, but also to create opportunities for game developers to collaborate through Game Jams, create innovative games for diverse audiences, and gain exposure through our networks to reach larger audiences for their work.</p>
                <p>The winners of the competition wil also receive mentoring from industry rockstars, promotion on the Mozilla Marketplace, and exposure to press and the gaming community.</p> 
                <h2 class="announce" id="game-jams">Whats up with the Game Jams?</h2>
                <p>A big motivation behind the competition is to build community. Communities of game developers, designers, youth and educators all collaborating with each other to create new amazing game experiences on the web. Each month we'll be hosting Game Jams around the world under one of the competitions themes.</p> 
                <p>You can <a href="https://webmaker.org/events/search/">find a game jam near you</a> or start one of your own using our fabulous <a href="https://webmaker.org/events/guides/game-jam/">Game Jam Kit.</a></p>
                <h2 class="announce" id="help">I need help. Who do I contact?</h2>
                <p>You can always reach out to the <a href="https://lists.mozilla.org/listinfo/community-games">mailing list</a> for questions regarding technology, or to share your prototypes. For direct questions about the competition you can reach out to <a href="mailto:gameon@mozilla.com">gameon@mozilla.com</a></p>
                <h2 class="announce" id="firefox-os">What is Firefox OS?</h2>
                <p>Firefox OS is Mozilla's new platform for mobile devices, bringing the power of the open web to the mobile space. Using HTML5 and new Mozilla-proposed standard APIs, developers  everywhere will be able to create amazing experiences and apps, and no longer need to learn and develop for platform-specific native APIs.</p>
                <p>We are strongly encouraging competition participants to take advantage of Firefox OS when creating games, especially for the mobile category. Learn <a href="http://www.mozilla.org/firefoxos/">more about Firefox OS.</a></p>
                <h2 class="announce" id="firefox-marketplace">What is the Firefox Marketplace?</h2>
                <p>The Mozilla Marketplace gives users the opportunity to find, try out and purchase apps and content that matters most to them. Mozilla's global reach extends to hundreds of millions of  Firefox users worldwide. Through the Game On competition, Mozilla can help developers get their app into the hands of their target users around the world.  Learn <a href-"https://marketplace.firefox.com/developers/">more about Mozilla Marketplace</a></p>
                <h2 class="announce" id="game-promotion">How will my game be promoted?</h2>
                <p>The Game On 2012 competition will include a gallery of submitted games. We will also promote winning games through the Mozilla Marketplace, provide exposure in the press, and make the larger Mozilla userbase aware of the games created in our competition.</p>
                <h2 class="announce" id="game-audience">Who should these games be targeted at?</h2>
                <p>Hardcore gamers, or recreational / occasional gamers? It's up to you -- we're not sure yet. Most likely we will see games that appeal more to  the  casual gamer than the fanatic, but it’s  hard to say. We're curious to see what you invent!</p>
                <h2 class="announce" id="business">What’s the business case for established, “for-profit” game developers to develop for the Web?</h2>
                <p>Overall  the benefits for developers are significant. Through the open  Web,  developers can get massive distribution through every modern Web browser, established distribution and discovery through the Web,  easy  development and deployment across desktop and mobile devices,  and a future-proof platform.</p>
                <h2 class="announce" id="who">Who can participate in the contest?</h2>
                <p>Anyone interested in creating a game built using open Web technologies that can be played in the browser. And if you submitted a game for the last Game On competition, we'd love to hear back from you.</p> 
                <p>If you are currently employed by a corporation or game studio and are  wondering if you're eligible to compete, the answer is yes! Although you may want to check with your manager and/or legal team to ensure  you can submit games and win a competition like ours.</p>
                <h2 class="announce" id="game-info">Do the games need to be fully finished products?</h2>
                <p>We encourage participants to submit games at all different stages,  from playable prototypes to fully finished products. The judging will happen based on criteria that value innovation in  gameplay more than finished polish. You can check out the <a href="{{ url('static_site.judging') }}">judging criteria</a> here.</p>
                <h2 class="announce" id="game-ip">Who owns the IP?</h2>
                <p>The code you write is yours. If you intend to share it after the competition, you can pick whatever license you prefer. We encourage contestants to open source their code, but that’s entirely up to you. If you decide to start a business based on it, we wish you much success!</p>
                <h2 class="announce" id="game-hosting">Where do I host my game?</h2>
                <p>It's completely up to you where you deploy your code. You can use your own webserver, public webspace you have somewhere, cloud hosting services such as Google’s App Engine or simply contact us if you need help with that. Whatever you decide to do – make sure your server is up and running at least during the judging period. It would be a shame if we couldn’t judge your awesome game only because someone poured coffee over the server behind your fridge. Entries have to remain up until winners are announced...any ideally way beyond that so that we can promote you and your awesome game!</p>    
                <h2 class="announce" id="submission-deadline">When is the deadline for submissions?</h2>
                <p>{{ request.challenge.end_date.strftime('%B %e, %Y') }} is the final deadline for the competition. Stay tuned  on  Twitter at #mozgames and on <a href="https://blog.mozilla.org/gameon/">our blog</a> for announcements about smaller events we  host in between now and the final submission deadline.</p>
                <h2 class="announce" id="prizes">Are there prizes?</h2>
                <p>But of course! Check out the <a href="{{ url('static_site.prizes') }}">prizes section</a> of our site for more details on what you can win.</p>
            </div>
            <nav class="meta mini-col page-index">
                <h2 class="whimper">Index</h2>
                <ol class="no-style">
                    <li><a href="#why-mozilla">Why is Mozilla doing this?</a></li>
                    <li><a href="#why-now">Why now?</a></li>
                    <li><a href="#why-submit">Why submit a game?</a></li>
                    <li><a href="#game-jams">Whats up with the Game Jams?</a></li>
                    <li><a href="#help">I need help. Who do I contact?</a></li>
                    <li><a href="#firefox-os">What is Firefox OS?</a></li>
                    <li><a href="#mozilla-marketplace">What is the Firefox Marketplace?</a></li>
                    <li><a href="#game-promotion">How will my game be promoted?</a></li>
                    <li><a href="#game-audience">Who should these games be targeted at?</a></li>
                    <li><a href="#business">What’s the business case for established, “for-profit” game developers to develop for the Web?</a></li>
                    <li><a href="#who">Who can participate in the contest?</a></li>
                    <li><a href="#game-info">Do the games need to be fully finished products?</a></li>
                    <li><a href="#game-ip">Who owns the IP?</a></li>
                    <li><a href="#game-hosting">Where do I host my game?</a></li>
                    <li><a href="#submission-deadline">When is the deadline for submissions?</a></li>
                    <li><a href="#prizes">Are there prizes?</a></li>
                </ol>
            </nav>
        </div>   
    </div>
</article>
{% endblock %}