{% extends 'base.html' %}

{% block page_title %}Judging{% endblock %}
{% block page_id %}judging_page{% endblock %}
{% block section_class %}judging{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Judging</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <p>We want Game On to be fun, fair, and consistent with the values of the open web. Here's how it works.</p>
            <p>A panel of industry experts, as well as members of the Mozilla and gaming communities, will evaluate all submissions.  Evaluation will take place during a two-day judging gauntlet and winners will be announced on or about the 4th of March 2013.</p>
            <p>We'll rank each entry on a 1-5 scale across these Measurements of Awesomeness:</p>
            <ol>
                <li><b>Fun</b> — do we enjoy playing this game?</li>
                <li><b>Technological achievement</b> – how well does this game demonstrate technical mastery in open web technologies?</li>
                <li><b>Aesthetics</b> – how good is the visual design and interaction experience?</li>
                <li><b>Originality</b> – have we seen this before? How does the game take advantage of the web?</li>
            </ol>
            <p>The Judges will give each  Entry a score of 1  to 5 for each of the criteria, and the scores of all  the Judges that  review a particular Entry will be averaged to arrive  at the final score  for that Entry. The Entry with the highest score in  each category will  be the category winner. The Entry with the next  highest score in the  category will be the runner up. The Entry with the  highest score overall  will be the Grand Prize winner. In the event of a  tie, a subset of  Judges will review the tied Entries and choose the  winner.</p>
            <h2 class="announce">Honor Code</h2>
            <p>The  goal of this competition is to have some good clean fun, so the honor  code applies: we’re trusting you to be honorable and to practice good  sportsmanship.</p>
            <p>We  will be implementing a <strong>zero-tolerance policy towards cheating.</strong> If you  are proven to be cheating, you will be disqualified immediately, banned  from all future events, and we are not responsible for what happens to  your overall reputation as a result.</p>
            <h2 class="announce">Closing Thoughts</h2>
            <p>We created our judging/voting structure based on lessons from dozens of other competitions, particularly the previous Game On Competition, <a href="https://mozillaignite.org">the Ignite Competition</a> and the <a href="http://nodeknockout.com/">Node Knockout Competition</a>. We believe that they’re going to help make for a great competition.</p>
            <p>When  all is said and done, regardless of who wins or loses, we trust that  you will have had a great time building something shiny, new, and  awesome for tons of people to enjoy and hack on the Web.</p>
            <p>Lastly, we have the less humanized, more legalized version of these <a href="{{ url('static_site.legal') }}">rules written here</a>.</p>
        </div>    
    </div>
</article>
{% endblock %}