{% extends 'base.html' %}

{% block page_title %}Judges{% endblock %}
{% block page_id %}judges_list{% endblock %}
{% block section_class %}judges{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Judges</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                <div class="vcard">
                    <h2 class="fn exclaim">Ross Bruniges</h2>
                    <p>All games must be built using open Web technologies. This includes, but is not limited to HTML, CSS, JavaScript as well as server-side code such as Ruby, PHP, Python or Java. You can use libraries (no worries, you don't need to reinvent the wheel)</p>
                    <img class="photo" src="{{ static('base/img/judges/placeholder.jpg') }}" width="120" height="120" />
                </div>
            </div>
            <aside class="meta mini-col">
                <p class="whimper">You can read more about the judging, evaluation and review process <a href="#">here</a>.</p>
            </aside>
        </div>
    </div>
</article>
{% endblock %}