{% extends 'base.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ static('base/css/home.css') }}">
{% endblock %}

{% block page_title %}Homepage{% endblock %}
{% block page_id %}home{% endblock %}
{% block section_class %}landing{% endblock %}

{% block content %}
<section class="big-picture cf">
    <div class="busta">
        <i></i>
        <p class="announce">The web is the platform.</p>
        <p class="shout">Show what's possible using the web as an open gaming platform for the world.</p>
        {% if request.challenge %}
            {% if request.challenge.is_open() %}
                {% include '_signup_login.html' %}
            {% else %}
                {% if not request.challenge.has_started() %}
                    <p>Submissions open on {{ request.challenge.start_date.strftime('%B %e, %Y') }}</p>
                {% endif %}
                {% if request.challenge.has_closed() %}
                    <p><a href="{{ url('submissions.entry_list') }}">See what people submitted</a></p>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
</section>
<section class="build cf">
    <div class="busta">
        <h2 class="exclaim">Submit your game prototype by {{ request.challenge.end_date.strftime('%B %e, %Y') }}</h2>
        <ul>
            <li class="make whimper">Make web-based hackable games, games for learning or cross-platform games.</li>
            <li class="invent whimper"><a href="{{ url('events.list') }}">Attend a Game Jam near you</a> or host your own! Our <a href="https://webmaker.org/events/guides/game-jam/">handy Event Kits</a> make it easy.</li>
            <li class="win whimper">Win a trip to the <a href="http://www.gdconf.com/">Game Developers Conference</a> to meet industry pioneers.</li>
            <li class="market whimper">Have your completed game featured in the <a href="http://www.mozilla.org/apps/">Firefox Marketplace</a> and published on <a href="http://www.chillingo.com/">Chilingo</a>.</li>
        </ul>
        <section class="gameon_partners cf">
            <div class="col">
                <h2 class="announce">Game On is generously supported by:</h2>
                <ul class="partners">
                    <li><a href="http://www.nesta.org.uk/"><img src="{{ static('base/img/partners/nesta.png') }}" alt="Nesta" /></a></li>
                    <li><a href="http://www.nominettrust.org.uk/"><img src="{{ static('base/img/partners/nominettrust.png') }}" alt="Nominet Trust" /></a></li>
                </ul>
            </div>
            <div class="col with">
                <h2 class="announce">In partnership with:</h2>
                <ul class="partners with">
                    <li class="lg"><a href="http://globalgamejam.org/"><img src="{{ static('base/img/partners/ggj.png') }}" alt="Global Game Jam" /></a></li>
                    <li class="lg"><a href="http://www.igda.org/"><img src="{{ static('base/img/partners/igda.png') }}" alt="IDGA" /></a></li>
                    <li class="cl"><a href="http://www.chillingo.com/"><img src="{{ static('base/img/partners/Chillingo.png') }}" alt="Chillingo" /></a></li>
                    <li><a href="http://ukie.info/"><img src="{{ static('base/img/partners/ukie.png') }}" alt="UKIE" /></a></li>
                    <li><a href="https://github.com/"><img src="{{ static('base/img/partners/GitHub.png') }}" alt="github" /></a></li>
                    <li><a href="http://www.nvidia.co.uk"><img src="{{ static('base/img/partners/nvidia.png') }}" alt="Nvidia" /></a></li>
                </ul>
            </div>
        </section>
    </div>
</section>
<section class="participate cf">
    <div class="busta cf">
        <div class="wrapper">
            <article class="submit_now">
                <div class="inner">
                    <h2 class="exclaim">Submit Your Game</h2>
                    <p>Mozilla invites you to imagine how next-generation web technologies can revolutionize the way we make and play games. It's your opportunity to invent new game mechanics and re-imagine the web as a gaming platform.</p>
                    <p>Excited? Good! Want to get involved? <a href="https://mozilla.org/gameon/">Sign up for more information</a>.</p>
                    {% if request.challenge %}
                        <p><strong>Submit your game prototype by {{ request.challenge.end_date.strftime('%B %e, %Y') }}</strong></p>
                        {% if request.challenge.is_open() %}
                            {% include '_signup_login.html' %}
                        {% endif %}
                        <footer>
                            <p>Submissions open on {{ request.challenge.start_date.strftime('%B %e, %Y') }} and close {{ request.challenge.end_date.strftime('%B %e, %Y') }}.</p>
                        </footer>
                    {% endif %}
                </div>
            </article>
            <article class="events">
                <div class="inner">
                    <h2 class="exclaim">Come to a Game Jam!</h2>
                    <ul class="checks">
                        <li>Got a game idea for the competition you'd like help testing and finishing up?</li>
                        <li>Interested in playing with new technologies and meeting people who love making and  hacking games as much as you do?</li>
                    </ul>
                    {% if events %}
                        <h3>Upcoming events</h3>
                        <ol class="no-style">
                            {% for ev in events %}
                            <li class="vevent">
                                <h4><a class="summary url" href="{{ ev.url }}">{{ ev.name }}</a></h4>
                                <p><span class="dtstart">{{ ev.start_date.strftime('%B %d, %Y %l:%M%p') }}</span> in {{ ev.location.town }}, <span class="location">{{ ev.location.country }}</span></p>
                            </li>
                            {% endfor %}
                        </ol>
                        {% if num_events > 3 %}
                            <a href="{{ url('events.list') }}">See all upcoming Game Jams</a>
                        {% endif %}
                    {% endif %}
                    <footer>
                        <a href="{{ url('events.list') }}">Register for an upcoming game jam</a> or <a href="https://webmaker.org/events/guides/game-jam/">run your own here</a>
                    </footer>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}