{% extends 'base.html' %}

{% block page_title %}Prizes{% endblock %}
{% block page_id %}prize_list{% endblock %}
{% block section_class %}prizes{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Prizes</h1>
    </header>
    <div class="busta">
        <div class="shout-box">
            <p class="announce">All games will be judges on the 10 Measurements of Awesomeness as <a href="#">listed here</a>.</p>
        </div>
        <div class="cf">
            <div class="main-col">
                <h2 class="sub-head exclaim">Grand Prize</h2>
                <div class="prize">
                    <h3 class="exclaim">Grand Champion</h3>
                    <p>Awarded to the game with the highest overall score.</p>
                    <ul class="big-winner">
                        <li><span>Get the red carpet treatment!</span></li>
                    </ul>
                </div>
            </div>
            <aside class="meta mini-col">
                <h2 class="whimper">All prizes include</h2>
                <ul class="checks">
                    <li>Featured in the Firefox Marketplace</li>
                    <li>Promotion accross Mozilla networks</li>
                    <li>IGDA Free Membership</li>
                    <li>Nvida Graphics Board</li>
                    <li>Special addition Mozilla swag</li>
                </ul>
            </aside>
        </div>
    </div>
</article>
{% endblock %}