{% extends 'base.html' %}

{% block page_title %}Prizes{% endblock %}
{% block page_id %}prize_list{% endblock %}
{% block section_class %}prizes{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Prizes</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
            <h2 class="sub-head exclaim" id="grand-prize">Grand Prize</h2>
            <div class="prize">
                <h3 class="exclaim">Grand Champion</h3>
                <p>Awarded to the best darned game we could find.</p>
                <ul class="big-winner">
                    <li><span> The Grand Prize: an all expense paid trip to San Francisco for <a href="http://www.gdconf.com/">GDC 2013!</a></span><ul>  
                        <li><span>Get the red carpet treatment! Roundtrip airfare, 7 nights of hotel accomodations in San Francisco, two all-access tickets to GDC 2013 -- which includes entry to the Indie Game Developer Conference -- and more</span></li>
                        <li><span>Dinner with EA's award-winning game developer Michael John</span></li>
                        <li><span>A tour of Mozilla's headquarters in Mountain View and lunch with the Mozilla games team</span></li>
                        <li><span>A Nvidia GeForce GTX690</span></li>
                    </ul></li>
                </ul>
            </div>
            <h2 class="sub-head exclaim" id="category-prizes">Category Prizes</h2>
            
                <div class="prize">
                    <h3 class="exclaim">Best Hackable Game (Non Stop Hacking)</h3>
                    <p>Awarded to the games with the highest "hackability" score. Games that let their players remix mechanics, fork code or use  assets from the web in order for them  to create their very own version  of an existing game.</p>
                </div>
                <div class="prize">
                    <h3 class="exclaim">Best Learning Game (Head of Class)</h3>
                    <p>Awarded   to the games that deepen an understanding of a concept or help a player  to master a set of skills.</p>
                </div>
                <div class="prize">
                    <h3 class="exclaim">Best Multi-Device Game (Mobileet)</h3>
                    <p>Awarded  to the games that use the power of the mobile phones and cross-device play to enhance assymetric gameplay and location based mechanics.</p>
                </div>
                <p>All category winners will get a Nvidia GeForce GTX670</p>
            </div>
            <div class="mini-col meta">
                <h3 class="whimper">All prizes will receive:</h3>
                <ul class="checks">
                    <li>The chance to have your game featured in the <a href="{{ url('static_site.faqs') }}#firefox-marketplace">Firefox Marketplace</a></li>
                    <li>The opportunity to show your game to the awesome folks at <a href="http://www.chillingo.com/">Chillingo</a> for a chance to have it published on their network</li>
                    <li>One year membership to top industry associations <a href="http://www.igda.org/">IGDA</a> and <a href="http://ukie.info/">UKIE</a></li>
                    <li>Promotion of your game in the Game On Gallery and across Mozilla networks</li>
                    <li>One year subscription to the <a href="http://gdmag.com/">Game Developers Magazine</a></li>
                    <li>Special Edition Mozilla Swag. Leave room in your luggage. Trust us.</li>
                </ul>
            </div>
        </div>    
    </div>
</article>
{% endblock %}