{% extends 'base.html' %}

{% block page_title %}Resources{% endblock %}
{% block page_id %}resource_list{% endblock %}
{% block section_class %}resources{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Resources</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                <h2 class="exclaim">???</h2>
                <p>???</p>
            </div>
            <aside class="meta mini-col">
                <p class="whimper">????</p>
            </aside>
        </div>
    </div>
</article>
{% endblock %}