{% extends 'base.html' %}

{% block page_title %}Rules{% endblock %}
{% block page_id %}rules_page{% endblock %}
{% block section_class %}rules{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Rules</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                <h2 class="exclaim">Technology</h2>
                <p>All games must be built using open Web technologies. This includes, but is not limited to HTML, CSS, JavaScript as well as server-side code such as Ruby, PHP, Python or Java. You can use libraries (no worries, you don't need to reinvent the wheel)</p>
            </div>
            <aside class="meta mini-col">
                <p class="whimper">The Fine Print: less humanised, more legalised version of these rules can be found <a href="#">here</a>.</p>
            </aside>
        </div>
    </div>
</article>
{% endblock %}