{% extends 'base.html' %}

{% block page_title %}Rules{% endblock %}
{% block page_id %}rules_page{% endblock %}
{% block section_class %}rules{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">Rules</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                <h2 class="exclaim">What Can I Submit?</h2>
                <p>You can submit games in one of three categories:</p>
                <ol>
                    {% for cat in categories %}
                        <li>{{ cat.name }}</li>
                    {% endfor %}
                </ol>
                {% for cats in categories %}
                    <h3 class="announce">Best {{ cats.name }}</h3> 
                    <p>{{ cats.description|safe }}</p>
                {% endfor %}

                <h2>Check out the "Game On" blog for more</h2>
                <p>Each month we'll be curating content on <a href="https://blog.mozilla.org/gameon/">our blog</a> showcasing examples from each of these categories. You can learn more about each category, find inspiration from industry experts, and see what others are building in Game On jams around the world.</p>

                <h2 class="exclaim">Playable Prototypes</h2>
                <p>Entries should be <strong>playable prototypes</strong>, built to run in modern browsers like Firefox, without any plug-ins. They don't have to be fully polished or 100% complete — the judges will mostly be looking for interesting gameplay ideas in motion.</p>

                <h2 class="exclaim">Open web technologies</h2>
                <p>All games must be built using open web technologies. This includes but is not limited to HTML, CSS, JavaScript, WebGL and WebRTC, as well as server-side code like PHP, Python, Ruby or Java. Please go ahead and use freely available libraries and modules -- there's no need to reinvent the wheel. Please list all the libraries and stock resources you use on your team’s profile page to provide fair attribution.</p>
                <p>We also encourage you to make use of third-party web services and their APIs (like Twitter, Flickr, Google Maps, etc).  We love mashups and would love to see what you can do with these kinds of web services in the context of a game. Again, please be sure to list any of these services you use on your game entry page.</p>

                <h2 class="exclaim">No plug-ins, please</h2>
                <p>As you can tell, we're pretty darn flexible on what you can enter. Buit we have only one ironclad rule: no browser plug-ins are allowed. So plug-ins like Flash, Silverlight, or Unity are out of bounds and must not be required to play your game.</p>

                <h2 class="exclaim">Ownership and open source</h2> 
                <p>The code you write is yours. If you intend to share it or keep working on it after the competition, you can feel free to pick whatever license you prefer. We encourage contestants to open source their code, but that’s entirely up to you. If you decide to start a business selling millions of copies of your indie darling game, we wish you much success!</p> 

                <h2 class="exclaim">Deployment</h2>
                <p>It’s completely up to you where you deploy your code. You can use your own webserver, public webspace, stores like the Firefox Marketplace, cloud hosting services like Google’s App Engine, or get in touch with us if you need help.</p>
                <p>Whatever you decide to do, please ensure your server is up and running during the judging period. It'd be a shame if we couldn’t judge your amazing game entry just because someone spilled coffee on the server behind your fridge! Entries must remain up until winners are announced.  </p> 

                <h2 class="exclaim">When is all this happening?</h2>
                <p>The competition kicks off in December and will end  on {{ request.challenge.end_date.strftime('%B %e, %Y') }}.</p>
                <p>You're welcome to share work on the concept for your game before making your final submission. Napkin sketches, doodles, insomniac wire-framing, robots in disguise or even some early prototype hacking if you like.</p>
                <p>After the final deadline, an expert panel of industry experts and gamers will be invited to play your game and judge it against the competition. <strong>To respect the rules for everyone, no additional features, fixes, or modifications will be allowed during the judging period.</strong> Otherwise, we'll be forced to disqualify your entry -- and we really don't want to do that!</p> 

                <h2 class="exclaim">Who can work on my game?</h2>
                <p>Individuals as well as teams are welcome to participate. To be eligible, individuals and teams must submit their entry before the official competition deadline. So please don't be late! As much as we all thrive on getting the finishing touches done in the 11th hour, we'd really hate for you to miss the deadline.</p>
                <p>If you are employed by a sponsor of the competition, we are unable to accept your submission. And if you happen to know one of the judges, no worries -- we’ll prevent judges from voting on any entrant they know personally.</p>

                <h2 class="exclaim">How can I get help for my game entry?</h2>
                <p>If you need help or have a technology-specific question, feel free to reach out to the <a href="https://lists.mozilla.org/listinfo/community-games">Mozilla gaming lists</a>. For specific questions about the competition, or if you'd like to be featured on the competition blog, please get in touch through <a href="mailto:gameon@mozilla.com">gameon@mozilla.com</a>.</p>
            </div>
            <aside class="meta mini-col header-block rules">
                <p class="whimper">The Fine Print: less humanised, more legalised version of these rules can be found <a href="{{ url('static_site.legal') }}">here</a>.</p>
                <p class="whimper">You will be to find additional answers in our <a href="{{ url('static_site.faqs') }}">FAQs</a>.</p>
            </aside>
        </div>
    </div>
</article>
{% endblock %}