{% extends 'base.html' %}

{% block page_css %}
<link rel="stylesheet" href="{{ static('base/css/forms.css') }}">
{% endblock %}

{% block page_title %}{% if form.errors %}Errors in your submission | {% endif %}Apply{% endblock %}
{% block page_id %}create_entry{% endblock %}
{% block section_class %}submissions{% endblock %}

{% block content %}
<div>
    <header class="mast-head">
        <h1 class="busta shout">{% block view_title %}Submit Your Game{% endblock %}</h1>
    </header>
    <div class="busta">
        <form action="" method="post" enctype="multipart/form-data">
            {{ csrf() }}
            <div class="form_wrapper">
            <fieldset>
                <legend><span>Game details</span></legend>
                <div class="field first-field">
                    <label for="id_title" class="announce">
                        Game name
                        {% for error in form.title.errors %}<em>{{ error }}</em>{% endfor %}
                        {% if mode == 'edit' %}
                            <span class="extra meta">If you change the game URL and if you or anyone is linking to the games page on Game On the URL be broken</span>
                        {% endif %}
                    </label>
                    {{ form.title }}
                </div>
                <div class="field">
                    <label for="id_url" class="announce">
                        Game URL
                        {% for error in form.url.errors %}<em>{{ error }}</em>{% endfor %}
                        <span class="extra meta" id="info_url">Where can people find out more about, or play your game?</span>
                    </label>
                    {{ form.url }}
                </div>
                <div class="field">
                    <label for="id_description" class="announce">
                        Game Description
                        {% for error in form.description.errors %}<em>{{ error }}</em>{% endfor %}
                        <span class="extra meta" id="info_description">(maximum 1000 characters)</span>
                    </label>
                    {{ form.description }}
                </div>
                <div class="field thumbnail_row">
                    <div>
                        <label for="id_thumbnail" class="announce">
                            Upload Thumbnail Image <span class="opt">(optional)</span>
                            {% for error in form.thumbnail.errors %}<em>{{ error }}</em>{% endfor %}
                            <span class="extra meta" id="info_thumbnail">(maximum 2mb file size)</span>
                        </label>
                    </div>
                    <div>
                        {{ form.thumbnail }}
                    </div>
                </div>
                <div class="field category_select">
                    <p class="announce">Category <span class="opt">(optional)</span></p>
                    <span class="extra meta">Choose the one that best fits your game</span>
                    {{ form.category }}
                </div>
                <div class="field">
                    <label for="id_video_url" class="announce">
                        Online Gameplay URL
                        {% for error in form.video_url.errors %}<em>{{ error }}</em>{% endfor %}
                        <span class="extra meta" id="info_video_url">If you've got one include an online video clip of your game in action (if it's on youtube or vimeo we'll try to embed it with your application)</span>
                    </label>
                    {{ form.video_url }}
                </div>
            </fieldset>
            <fieldset class="team-details">
                <legend><span>Team details</span></legend>
                <div class="field" tabindex="-1">
                    <label for="id_team_name" class="announce">
                        Team name <span class="opt">(optional)</span>
                        {% for error in form.team_name.errors %}<em>{{ error }}</em>{% endfor %}
                    </label>
                    {{ form.team_name }}
                </div>
                <div class="field">
                    <label for="id_team_members" class="announce">
                        Team members <span class="opt">(optional)</span>
                        {% for error in form.team_members.errors %}<em>{{ error }}</em>{% endfor %}
                        <span class="extra meta" id="info_team_members">(maximum 250 characters)</span>
                    </label>
                    {{ form.team_members }}
                </div>
                <div class="field">
                    <label for="id_team_description" class="announce">
                        Team bio <span class="opt">(optional)</span>
                        {% for error in form.team_description.errors %}<em>{{ error }}</em>{% endfor %}
                        <span class="extra meta" id="info_team_description">(maximum 250 characters)</span>
                    </label>
                    {{ form.team_description }}
                </div>
            </fieldset>
            <div class="field">
                <p class="announce">Submit to Marketplace</p>
                <article class="submit_row shout-box marketplace">
                    <h2 class="whimper">What is Marketplace and why is it awesome?</h2>
                    <p class="meta">The Firefox Marketplace  gives users the opportunity to find,  try and buy Apps and content that  matters most to them. This means  exciting, useful and high-quality Apps  relevant to local markets across  all categories that users can use to  get the most out of their daily  lives. Mozilla's  global reach extends to hundreds of millions of  Firefox users  worldwide. Through the competition Mozilla can help  developers get their  App featured and into the hands of their target users around the  world. <a href="http://www.mozilla.org/apps/" target="_blank">Learn more about Firefox Marketplace here</a>.</p>
                </article>
                {% for error in form.to_market.errors %}<em>{{ error }}</em>{% endfor %}
                {{ form.to_market }}
            </div>
            
            {% if form.terms_and_conditions %}
                <div class="field">
                    {{ form.terms_and_conditions }}
                    <label for="id_terms_and_conditions" class="announce">
                    I accept the <a href="{{ url('static_site.legal') }}" target="_blank">Game On rules</a>
                    {% for error in form.terms_and_conditions.errors %}<em>{{ error }}</em>{% endfor %}
                    </label>
                    
                </div>
            {% endif %}
            </div>
            <div class="submit_row shout-box submit">
                {% block cta_box %}
                <span>All done and ready to submit?</span>
                <input type="submit" name="submit" class="cta" value="Yup! Submit My Game!" />
                {% endblock %}
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{{ static('base/js/libs/jquery.textareaCounter.plugin.js') }}"></script>
<script src="{{ static('base/js/forms.js') }}"></script>
<script>mgo.formsets.textarea_counters(); mgo.formsets.dropdown_form();</script>
{% endblock %}