{% extends 'base.html' %}

{% block page_title %}Entry List{% endblock %}
{% block page_id %}all_submissions{% endblock %}
{% block section_class %}submissions{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        {% if category != 'all' %}
            <h1 class="busta shout">Entries in {{ category }}</h1>
        {% else %}
            <h1 class="busta shout">All Entries</h1>
        {% endif %}
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                <ol>
                    {% for sub in submissions %}
                    <li>
                        <a href="{{ url('submissions.entry_single', slug=sub.slug) }}">{{ sub.title }}</a>
                        <p>in the <a href="{{ url('submissions.entry_list', category=sub.category.slug) }}">{{sub.category.name }} category</a></p>
                    </li>
                    {% endfor %}
                </ol>
            </div>
            <aside class="meta mini-col">
                <h2 class="whimper">???</h2>
            </aside>
        </div>
    </div>
</article>
{% endblock %}