{% extends 'base.html' %}

{% block page_title %}Single{% endblock %}
{% block page_id %}entry_page{% endblock %}
{% block section_class %}submissions{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">{{ entry.title }}</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                {% if entry.has_entry_feature %}
                    <div class="frame">{{ entry.get_entry_feature()|safe }}</div>
                {% endif %}
                <p>{{ entry.description }}</p>
                <p><a href="{{ entry.url }}">Find out more about this game</a></p>
            </div>
            <aside class="meta mini-col">
                <h2 class="whimper">Submitted by</h2>
                {% if entry.team_name %}
                    <p><b>{{ entry.team_name }}</b></p>
                    <p>{{ entry.team_members }}<p>
                    <p>{{ entry.team_desciption }}</p>
                {% else %}
                    {% if entry.created_by %}
                    <img src="{{ entry.created_by.get_gravatar_url() }}" alt="" />
                    <p><b>{{ entry.created_by.display_name }}</b></p>
                    {% if entry.bio %}
                        <p>{{ entry.bio }}</p>
                    {% endif %}
                    {% endif %}
                {% endif %}
                <h2 class="whimper">Category</h2>
                <p><a href="{{ url('submissions.entry_list', category=entry.category.slug) }}">{{ entry.category }}</a></p>
            </aside>
        </div>
    </div>
</article>
{% endblock %}