{% extends 'base.html' %}

{% block page_title %}Single{% endblock %}
{% block page_id %}entry_page{% endblock %}
{% block section_class %}submissions{% endblock %}

{% block content %}
<article>
    <header class="mast-head">
        <h1 class="busta shout">{{ entry.title }}</h1>
    </header>
    <div class="busta">
        <div class="cf">
            <div class="main-col">
                {% if messages %}
                    <div class="shout-box">
                        {% for m in messages %}
                            {{ m|safe }}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if entry.has_entry_feature %}
                    <div class="frame">{{ entry.get_entry_feature()|safe }}</div>
                {% endif %}
                <p>{{ entry.description }}</p>
                <p><a href="{{ entry.url }}">Find out more about this game</a></p>
                {% if entry.video_url %}
                    <p><a href="{{ entry.video_url }}">Watch some online gameplay</a></p>
                {% endif %}
            </div>
            <aside class="meta mini-col">
                <h2 class="whimper">Submitted by</h2>
                {% if entry.team_name %}
                    <p><b>{{ entry.team_name }}</b></p>
                    <p>{{ entry.team_members }}<p>
                    <p>{{ entry.team_description }}</p>
                {% else %}
                    {% if entry.created_by %}
                        <span class="frame"><img src="{{ entry.created_by.get_gravatar_url() }}" alt="" /></span>
                        <p><b>{{ entry.created_by.display_name }}</b></p>
                        {% if entry.bio %}
                            <p>{{ entry.bio }}</p>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if entry.editable_by(user=request.user) and request.challenge.is_open() %}
                    <a class="cta whimper" href="{{ url('submissions.entry_edit', slug=entry.slug) }}">Edit your game</a>
                {% endif %}
                {% if entry.category %}
                <h2 class="whimper">Category</h2>
                <p><a href="{{ url('submissions.entry_list', category=entry.category.slug) }}">{{ entry.category }}</a></p>
                {% endif %}
                {% if request.challenge.has_started() %}
                    {% if not request.challenge.has_closed() %}
                        <h2 class="whimper">Add your own game</h2>
                        {% include '_signup_login.html' %}
                    {% endif %}
                {% endif %}
            </aside>
        </div>
    </div>
</article>
{% endblock %}